body {
	background: url('../images/HotelRoom.jpg') no-repeat;
	background-size: cover;
}

p {
  font: 14 'Arizonia', Helvetica, sans-serif;
  color: #2b2b2b;
	padding: 5px 0;
}

.error-message {
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	color: #5270C6;
}

.fancy-font {
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.4);
  margin-bottom: 25px;
}

a.fancy-font, h4.fancy-font {
	font-size: 30px;
	margin: 0px;
	font-weight: bold;
	opacity: 10;
	color: #5270C6;
}

li.fancy-font {
  font-size: 30px;
}

label.fancy-font {
  font-size: 24px;
}

p.fancy-font {
  font-size: 24px;
}

.list-heading {
  font-size: 40px;
  text-align: center;
	border-bottom: solid;
  padding: 20px 0px;
  color: white;
}

.smalltext {
  font-size: 14px
}

.nickname {
	color: white;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; 
}

.in-chat {
	color: #E1C18C;
	text-shadow: 
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; 
}

#content {
	margin-top: 25px;
}

.left-float {
  margin-left: 50px;
}

#messages-board {
  height: 375px;
  width: 800px;
  background-color: lightgrey;
  border-style: inset;
  border-width: 2px;
  padding: 20px;
  overflow:auto;
	opacity: 0.9;
}

#chat-form {
  margin-top: 20px;
}

.chat-btn {
  margin-left: 5px;
	padding: 7px;
}

#current-room {
  font-size: 40px;
}

#room-members {
  padding: 10px 0px;
  text-align: center;
  border-style: groove;
  list-style-type: none;
}

.show-members-panel {
	margin-top: 30px;
}

.devs {
	list-style-type: none;
}

.navbar {
	background-color: black;
	opacity: 0.8;
}

.circular {
  width: 200px; 
  height:200px;
  border-radius:50%;
  margin:25px;
}

.circular img {
  border-radius:50%;
  transition: transform 0.5s ease;
  transform: scale(0.8);
}

